<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}"
      ><span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </a>
    <button type="button" class="delete" (click)="deleteHero(hero)">X</button>
  </li>
</ul>

<div>
  <label for="new-hero">Add hero</label>
  <input id="new-hero" type="input" #heroName />
  <button type="button" class="add-button" (click)="addHero(heroName.value)">
    Add
  </button>
</div>
